/* src/App.css*/

.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: calc(100% - 250px);
  top: 0;
  left: 250px;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
}

.search-bar-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-210%);
  width: 300px;

}

.search-bar input {
  margin-bottom: 5px;
  width: 110%;
  padding: 10px;
  font-size: 16px;
  margin-right: 200px;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
}

.sidebar button {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #19BE81;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
}

.sidebar button:hover {
  background-color: #017e5a;
}

.sidebar button.active {
  background-color: #014029;
  color: white;
}

.sidebar button:hover {
  background-color: #c0c0c0;
  transform: scale(1.05);
}