/* src/App.css*/

.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: calc(100% - 250px);
  top: 0;
  left: 250px;
  z-index: 1000;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

.search-bar-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 110%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  transform: translateX(-115%);
}

.header-right {
  display: flex;
  align-items: center;
}

.subscribe-button {
  background-color: #19BE81;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 50px;
  cursor: pointer;
  white-space: nowrap;
}

.subscribe-button:hover {
  background-color: #017e5a;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.notification-icon {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}



.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
}

.sidebar button {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #19BE81;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
}

.sidebar button:hover {
  background-color: #017e5a;
}

.sidebar button.active {
  background-color: #014029;
  color: white;
}

.sidebar button:hover {
  background-color: #c0c0c0;
  transform: scale(1.05);
}